extends ../layout

block content

  h1(class="page-header") Edit #{grocery.item}

  ol(class="breadcrumb")
    li
      a(href="/groceries") My Groceries
    li
      a(href="/groceries/" + grocery.id)= grocery.item
    li(class="active") Edit

  form(action='/groceries/' + grocery.id method='post' class='form-horizontal')

    div(class='form-group')
      label(class="col-sm-2 control-label") Item
      div(class='col-sm-4')
        input(type="text" name="grocery[item]" value="#{grocery.item}" class='form-control')

    div(class="form-group")
      label(class="col-sm-2 control-label") Quantity needed
      div(class="col-sm-4")
        input(type='number' name='grocery[quantity]' value="#{grocery.quantity}" class="form-control")

    div(class="form-group")
      div(class="col-sm-offset-2 col-sm-4")
        div(class="checkbox")
        label Have you picked up this item?
          if grocery.inBasket
            input(type='checkbox' name='grocery[inBasket]' checked="#{grocery.inBasket}" class="form-control")
          else
            input(type='checkbox' name='grocery[inBasket]' class="form-control")

    div(class="form-group")
      div(class="col-sm-offset-2 col-sm-4")
        input(type='submit' name='commit' value='Update this item' class="btn btn-success")
